<!DOCTYPE html>
<html>

<head>
  <title>SKB DevOps</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" rel="text/javascript" />
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.9/angular-sanitize.min.js"></script>
  <script src="scripts/app.js" type="application/javascript"></script>
</head>

<body>

  <div class="main">
    <img src="/images/skb-logo-otp.png" />
    <div class="content">
      {{{body}}}
    </div>
  </div>

</body>

</html>